# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
ENV/

# Environment variables
.env

# Logs
*.log

# IDE specific files
.vscode/
.idea/

# Node modules
# Node modules
server/node_modules/
client/node_modules/
